html,
body {
  height: 100vh;
}

main {
  padding: 15px;
  min-height: calc(100vh - 60px);
}

.wrap {
  overflow-x: hidden;
  min-height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 225px;
  right: 0;
  bottom: 0;
}

.side-nav {
  background-color: whitesmoke;
  height: calc(100vh - 60px);
  width: 225px;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  left: 0;
  right: 225px;
  bottom: 0;
}

.side-nav .list-group-item.active {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.side-nav .fas {
  width: 20px;
  text-align: center;
}

.side-nav p {
  padding: 12px 16px;
  margin: 0;
}

.side-nav section a {
  padding: 12px 16px;
  user-select: none;
}

.side-nav h6 {
  padding: 12px 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.card-links a:not(:last-child) {
  margin-bottom: 10px;
}

.card {
  width: 19rem;
}

@media (min-width: 992px) {
  main.container > .alert {
    float: right !important;
  }
}

.input-group ~ .invalid-feedback {
  display: block;
}

@media (max-width: 768px) {
  label#submit-button-fix {
    display: none !important;
  }
}

.select2-container--krajee-bs4
.select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary);
}

select.form-control.select2-hidden-accessible.is-valid ~
.select2-container--krajee-bs4 span.select2-selection--single {
  border-color: #28a745;
}

select.form-control.select2-hidden-accessible.is-invalid ~
.select2-container--krajee-bs4 span.select2-selection--single {
  border-color: #dc3545;
}
