html,
body {
  height: 100vh;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1040;
}

header .navbar-nav .dropdown .dropdown-menu .fas {
  width: 20px;
  text-align: center;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: calc(100vh - 60px);
}

.sidebar {
  background-color: whitesmoke;
  position: sticky;
  top: 60px;
  z-index: 1000;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  min-width: 224px;
  flex-shrink: 100;
  scroll-behavior: smooth;
}

.sidebar section:last-of-type {
  border-bottom: 1px solid #dee2e6;
}

.sidebar .list-group-item.active {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.sidebar .fas {
  width: 20px;
  text-align: center;
}

.sidebar p {
  padding: 12px 16px;
  margin: 0;
}

.sidebar section a {
  padding: 12px 16px;
  user-select: none;
}

.sidebar small {
  display: block;
  padding: 8px 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.card-links a:not(:last-child) {
  margin-bottom: 10px;
}

.card {
  width: 19rem;
}

@media (min-width: 992px) {
  main.container > .alert {
    float: right !important;
  }
}

.input-group ~ .invalid-feedback {
  display: block;
}

.select2-container
.select2-results__option--highlighted {
  background-color: var(--primary) !important;
}

select.form-control.select2-hidden-accessible.is-valid ~
.select2-container span.select2-selection--single {
  border-color: #28a745;
}

select.form-control.select2-hidden-accessible.is-invalid ~
.select2-container span.select2-selection--single {
  border-color: #dc3545;
}

.kv-grid-bs4 a.asc:after {
  content: " \f15e";
}

.kv-grid-bs4 a.desc:after {
  content: " \f15d";
}
